<div class="main container" style="margin:10px">
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4 weather-panel" style="padding:10px;padding: 10px;margin: 5%;">
        <div class="upper">
        <div class="todayWeather">
          <h1>{{place}}</h1>
            <h5>{{todaysDate}}</h5>
        <div class="weatherType">  
            <!-- <img src="assets/weather.png"> -->
            <img src={{rainyimg}}>
            <h4>{{season}}</h4>
        </div>
          </div>
        <div class="todayTemp">
          <div class="temperature">
            <p style="font-size: 7em!important">{{todaysTemp}}°</p>
            <h2 style="padding-right: 40%;text-align: center">8° / 13°</h2>
          </div>
        </div>
      </div>
        <div class="fullWeek">
          <div class="days">
            <h3 class="h5">Mon</h3>
            <img src="assets/weather.png">
            <p>12°/17°</p>
          </div> <div class="days">
            <h3 class="h5">Tue</h3>
            <img src="assets/weather.png">
            <p>12°/17°</p>
          </div> <div class="days">
            <h3 class="h5">Wed</h3>
            <img src="assets/weather.png">
            <p>12°/17°</p>
          </div> <div class="days">
            <h3 class="h5">Thu</h3>
            <img src="assets/weather.png">
            <p>12°/17°</p>
          </div> <div class="days">
            <h3 class="h5">Fri</h3>
            <img src="assets/weather.png">
            <p>12°/17°</p>
          </div> <div class="days">
            <h3 class="h5">Sat</h3>
            <img src="assets/weather.png">
            <p>12°/17°</p>
          </div>
          <div class="days">
            <h3 class="h5">Sun</h3>
            <img src="assets/weather.png">
            <p>12°/17°</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>